= shoelace_form_for @user do |form|
  - if @user.errors.any?
    %div
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  %div
    = form.label :name
    = form.text_field :name
  %div
    = form.label :role
    = form.collection_select :role, [['admin', 'Administrator'], ['customer', 'Customer']], :first, :last
  %div
    = form.label :newsletter
    = form.check_box :newsletter
  %div
    = form.submit 'Save'
